<!--
The first page people will see when they visit your project. This is typically where most of the content lives, and is probably where you want to start editing.-->


{% extends "_base.html" %}
{% block css %}
<link rel="stylesheet" href="css/style.css">
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,700italic,300,700,500italic,100italic,300italic,400' rel='stylesheet' type='text/css'>
<link href='//cdn.knightlab.com/libs/soundcite/latest/css/player.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% endblock %}

{% block content %} <!-- All the block tag does is to tell the template engine that a child template may override those portions of the template. -->
	<div class="container">
		<div class="jumbotron">
			<center><img src="oNe_logo_color_2.jpg"</center>
			<center><p id="subhead">a <a href="northbynorthwestern.com">North by Northwestern</a> audio series </p></center>
		</div>

		<div id="row-fluid">
			{% for story in data|reverse %}
				<div class="element-item">
					<div class="col-xs-7 col-sm-5 col-md-3" "grid"> <!-- Responsive -->
						<img src="{{ story.img_url }}" alt="img-responsive" class="img-thumbnail">
						<div class="infobox" id="{{ story.story_id }}">
							<p class="text">{{ story.question }}</p>
							<div class="audio-clip-player" data-url="{{ story.audio_url }}">
								<div class="controls">
									<a href="javascript:;" class="player-button play"><span class="button-icon"><i class="fa fa-play"></i></span></a>
									<a href="javascript:;" class="player-button pause"><span class="button-icon"><i class="fa fa-pause"></i></span></a>
								</div>	
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}

{% block scripts %}
<script src = "js/vendor/soundmanager2/soundmanager2.js"></script>
<script src = "js/application.js"></script>
{% endblock %}
